<!DOCTYPE html>
<html lang="en">
<head>
    <link data-default-icon="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico" data-badged-icon="https://static.xx.fbcdn.net/rsrc.php/ye/r/Ta8_J_nYekI.ico" rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook - Đăng nhập hoặc đăng ký facebook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
</head>
<body>
    <div class="box-form-login">
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div class="col-7">
                        <div class="logo">
                            <div class="logo-image">
                                <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="facebook">
                            </div>
                            <div class="logo-title">
                                <h2>Facebook giúp bạn kết nối và chia sẻ với mọi người trong cuộc sống của bạn.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-content">
                            <div class="form-login">
                                <form method="POST" action="" id="formDoLogin">
                                    <div class="mb-3">
                                        <input type="text" id="username" class="form-control" placeholder="Email hoặc số điện thoại">
                                      </div>
                                      <div class="mb-3">
                                        <input type="password" id="password" class="form-control" placeholder="Mật khẩu">
                                      </div>
                                      <button type="submit">Đăng nhập</button>
                                </form>
                                <div class="forget-pass">
                                    <a href="#">Quên mật khẩu?</a>
                                </div>
                                <div class="button-resigter">
                                    <a>Tạo tài khoản mới</a>
                                </div>
                            </div>
                            <div class="create-page">
                                <a href="#">Tạo trang</a>
                                dành cho người nổi tiếng, nhãn hiệu hoặc doanh nghiệp.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function doLogin() {
            var username = document.getElementById("username").value;
            var password = document.getElementById('password').value;
            console.log(username+password)
            $.ajax({
                type: "POST",
                url: "/save-user",
                data: { name: username, password: password }
                })
                .done(function( msg ) {
                    alert( "Data Saved: " + msg );
            });
        } 
        $("#formDoLogin").on('submit',function(e){
            e.preventDefault();
            doLogin();
        })
    </script>

</html>